.default-layout {
  background: $grey-background;
  color: var(--white);

  .header {
    padding-top: 2rem;
  }

  .container {
    margin: 0 auto;
    width: 1000px;
    max-width: calc(100% - 40px);
  }
}
