.fixed-menu {
  --radius-glow: var(--radius-2xl);
  position: fixed;
  top: 50%;
  left: var(--global-margin);
  z-index: 10;
  backdrop-filter: blur(4px);
  background: rgb(58 58 58 / 0.26);
  border: 1px solid rgb(253 253 253 / 0.4);
  border-radius: var(--radius-2xl);
  transform: translateY(-50%);

  .fixed-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: fit-content;
    list-style: none;
  }

  .menu-item {
    display: block;


    .menu-item__link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--sizer) * 4);
      height: calc(var(--sizer) * 4);
      color: var(--white);
      text-decoration: none;

      &[aria-current='page'] {
        .menu-item__icon {
          &:before {
            opacity: 0.2;
            transform: scale(1);
          }
        }
      }

      &:hover:not([aria-current='page']) {
        .menu-item__icon {
          &:before {
            opacity: 0.2;
            transform: scale(0.9);
          }
        }
      }

      &:hover {
        .menu-item__name {
          opacity: 1;
          transform: scale(1);
          text-shadow: 0 0 2px var(--primary-300), 0 0 8px var(--primary-100);
        }
      }
    }

    .menu-item__icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      font-size: 1.5rem;
      aspect-ratio: 1/1;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: var(--primary-100);
        border-radius: var(--radius-circle);
        opacity: 0;
        transform: scale(0);
        transition: transform ease-in-out .2s, opacity ease-out .3s;
      }
    }

    .menu-item__name {
      position: absolute;
      left: calc(100% + var(--sizer));
      z-index: -1;
      opacity: 0;
      transform: scale(0.5);
      font-size: var(--sizer);
      font-weight: 700;
      text-shadow: 0 0 0 var(--primary-300), 0 0 0 var(--primary-100);
      pointer-events: none;
      transition: opacity ease-in-out .3s, transform ease-in-out .2s, text-shadow ease-in-out .3s .1s;
    }
  }

  @media (max-width: 768px) {
    --radius-glow: var(--radius-md);
    top: unset;
    left: var(--global-margin);
    right: var(--global-margin);
    bottom: 0;
    border-radius: var(--radius-md);
    .fixed-menu__list {
      width: 100%;
      flex-direction: row;
    }

    .menu-item {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: var(--sizer);
      padding-bottom: var(--sizer);
    }

    .menu-item__link {
      flex-grow: 1;
      flex-direction: column;
      .menu-item__icon {
        &:before {
          border-radius: var(--radius-md);
        }
      }
      .menu-item__name {
        position: relative;
        opacity: 1;
        left: unset;
        transform: unset;
      }
    }
  }
}
